@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "This account has been locked.";
}

<hgroup>
    <h1 class="text-danger">Lock.</h1>
    <h2 class="text-danger">This account is locked. Please, try again later.</h2>
</hgroup>
