
@{
    ViewBag.Title = "Time off tracker";
}

<div class="jumbotron" style="padding-top:1px; padding-right:5px">
    <h1>
        <span style="text-align:left">TimeOffTracker</span>
        <span style="float:right">↑</span>
    </h1>
    @*<span>↑</span>*@
    <p class="lead">Welcome to the vacation management app. Before you start. Please sign in</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>